site_name: MDTerp
site_description: A python project for interpreting molecular dynamics trajectory metastable state classifications from machine-learning models
site_author: shams-mehdi
site_url: https://shams-mehdi.github.io/MDTerp
repo_url: https://github.com/shams-mehdi/MDTerp

copyright: "Copyright &copy; 2024 - 2024 shams mehdi"

theme:
    palette:
        - scheme: default
          #   primary: blue
          #   accent: indigo
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    # logo: assets/logo.png
    # favicon: assets/favicon.png
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.top
        - search.highlight
        - search.share
    custom_dir: "docs/overrides"
    font:
        text: Google Sans
        code: Regular

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - git-revision-date-localized:
          enable_creation_date: true
          type: timeago
    # - pdf-export
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
          execute: True
          allow_errors: false
          ignore: ["conf.py"]
          execute_ignore: ["*ignore.ipynb"]

markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/shams-mehdi/MDTerp/issues
    - Examples:
        - examples/MDTerp_demo1.ipynb
        - examples/MDTerp_demo2.ipynb
    - API Reference:
          - MDTerp module: MDTerp.md
          - utils module: utils.md
          - neighborhood module: neighborhood.md
          - init_analysis module: init_analysis.md
          - final_analysis module: final_analysis.md
